{% extends 'academy/base.html' %}

{% block body %}
 <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Display Genre
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Genre ID</th>
                                                <th>Genre Name</th>
                                                 <th>Edit</th>
                                                    <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Genre ID</th>
                                                <th>Genre Name</th>
                                                 <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                        {% for genre in genres %}


                                            <tr>
                                                <td>{{ genre.id }}</td>
                                                <td>{{ genre.name }}</td>
                                                <td><a href="{% url 'academy:genre_update' genre.id  %}">Edit</a></td>
                                                <td><a href="{% url 'academy:genre_delete' genre.id  %}" onclick="return confirm('Are you sure to delete this record?');">Delete</a></td>
                                            </tr>
                                           {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>



{% endblock %}




